<template>
  <body>
    <div class="flex flex-col h-screen overflow-hidden">
      <header class="text-center">
        <div>
          <div
            class="
              w-full
              h-1
              bg-gradient-to-r
              from-brand-green
              to-brand-blue
              top-0
              w-full
            "
          />
          <div
            class="
              flex
              items-center
              justify-end
              px-6
              bg-white
              rounded-bl-2xl rounded-br-2xl
              h-16
              w-full
              shadow
              text-brand-green
              font-lato
              text-font2
              font-semibold
              hover:underline
            "
          >
            Login
          </div>
        </div>
      </header>
      <main class="flex-1 overflow-y-auto">
        <div
          class="
            bg-gradient-to-b
            from-brand-lightestBlue
            to-brand-lightestGreen
            h-98
            w-full
            py-10
          "
        >
          <h3
            class="
              text-center text-font1 text-primary2
              -mt-2
              mb-8
              font-lato font-medium
              tracking-snormal
            "
          >
            Deine Job <br />
            website
          </h3>
          <img src="/undraw_agreement_aajr.svg" alt="agreement" />
        </div>

        <div class="border-gray-200 mt-14 mb-6" />

        <div class="flex items-center divide-x overflow-x-scroll dscroll">
          <div
            class="
              cursor-pointer
              px-14
              py-2
              border border-gray-300
              rounded-l-xl
              whitespace-nowrap
              ml-4
              font-lato font-semibold
              text-font2
              h-4
              text-primary3
             

            "
            :class="{
              'bg-brand-lightGreen  border-brand-lightGreen ':
                activeTab === 1,
            }"
            @click="activeTab = 1"
          >
            Arbeitnehmer
          </div>
          <div
            class="
              cursor-pointer
              px-14
              py-2
              border border-gray-300
              whitespace-nowrap
              font-lato font-semibold
              text-font2
              h-4
              text-primary3
            "
            :class="{
              'bg-brand-lightGreen text-brand-lightestGreen border-brand-lightGreen':
                activeTab === 2,
            }"
            @click="activeTab = 2"
          >
            Arbeitgeber
          </div>
          <div
            class="
              cursor-pointer
              px-14
              py-2
              border border-gray-300
              rounded-r-xl
              whitespace-nowrap
              mr-4
              font-lato font-semibold
              text-font2
              h-4
              text-primary3
              
            "
            @click="activeTab = 3"
            :class="{
              'bg-brand-lightGreen text-brand-lightestGreen border-brand-lightGreen':
                activeTab === 3,
            }"
          >
            Temporärbüro
          </div>
        </div>

        <div class="py-12 px-4">
          <template v-if="activeTab === 1">
            <h4
              class="
                text-center
                font-lato font-semibold
                text-font4 text-primary
              "
            >
              Drei einfache Schritte<br />
              zu deinem neuen Job
            </h4>

            <div class="flex items-end mt-8">
              <div class="font-normal text-font7 text-primary1 font-lato">
                1.
              </div>
              <div class="ml-4">
                <img src="/undraw_Profile_data_re_v81r.svg" alt="" />
                <p
                  class="
                    text-primary1 text-left
                    mt-10
                    mb-6
                    font-lato font-normal
                    text-font6
                    tracking-nnormal
                  "
                >
                  Erstellen dein Lebenslauf
                </p>
              </div>
            </div>

            <div
              class="
                mt-4
                bg-gradient-to-b
                from-brand-lightestBlue
                to-brand-lightestGreen
              "
            >
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-5"
                >
                  2.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    mt-5
                    ml-2
                    mb-6
                    font-lato font-normal
                    text-font6
                  "
                >
                  Erstellen dein Lebenslauf
                </p>
              </div>
              <div class="mt-6 flex justify-end">
                <img src="/undraw_task_31wc.svg" alt="" />
              </div>
            </div>

            <div class="mt-2">
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-12"
                >
                  3.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    mt-5
                    ml-5
                    font-lato font-normal
                    text-font6
                    mb-10
                  "
                >
                  Mit nur einem Klick<br />
                  bewerben
                </p>
              </div>
              <div class="flex justify-center">
                <img src="/undraw_personal_file_222m.svg" alt="" />
              </div>
            </div>
          </template>
          <template v-else-if="activeTab === 2">
            <h4
              class="
                text-center
                font-lato font-semibold
                text-font4 text-primary
              "
            >
              Drei einfache Schritte<br />
              zu deinem neuen Mitarbeiter
            </h4>

            <div class="flex items-end mt-8">
              <div class="font-normal text-font7 text-gray-500 font-lato">
                1.
              </div>
              <div class="ml-4">
                <img src="/undraw_Profile_data_re_v81r.svg" alt="" />
                <p
                  class="
                    text-primary1 text-left
                    mt-5
                    mb-5
                    font-lato font-normal
                    text-font6
                  "
                >
                  Erstellen dein Unternehmensprofil
                </p>
              </div>
            </div>

            <div
              class="
                mt-10
                bg-gradient-to-b
                from-brand-lightestBlue
                to-brand-lightestGreen
              "
            >
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-5"
                >
                  2.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    ml-5
                    mb-6
                    font-lato font-normal
                    text-font6
                  "
                >
                  Erstellen ein Jobinserat
                </p>
              </div>
              <div class="-mt-11 ml-2 flex justify-center">
                <img src="/undraw_about_me_wa29.svg" alt="" />
              </div>
            </div>

            <div>
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-12"
                >
                  3.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    mb-9
                    ml-1
                    font-lato font-normal
                    text-font6
                  "
                >
                  Wähle deinen <br />
                  neuen Mitarbeiter aus
                </p>
              </div>
              <div class="mt-6 flex justify-center">
                <img src="/undraw_swipe_profiles1_i6mr.svg" alt="" />
              </div>
            </div>
          </template>
          <template v-else>
            <h4
              class="
                text-center
                font-lato font-semibold
                text-font4 text-primary
              "
            >
              Drei einfache Schritte zur <br />Vermittlung neuer Mitarbeiter
            </h4>

            <div class="flex items-end mt-8">
              <div class="font-normal text-font7 text-gray-500 font-lato">
                1.
              </div>
              <div class="ml-4">
                <img src="/undraw_Profile_data_re_v81r.svg" alt="" />
                <p
                  class="
                    text-primary1 text-left
                    mt-5
                    mb-5
                    font-lato font-normal
                    text-font6
                  "
                >
                  Erstellen dein Unternehmensprofil
                </p>
              </div>
            </div>

            <div
              class="
                mt-10
                bg-gradient-to-b
                from-brand-lightestBlue
                to-brand-lightestGreen
              "
            >
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-5"
                >
                  2.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    mb-6
                    font-lato font-normal
                    text-font6
                    tracking-nnormal
                  "
                >
                  Erhalte Vermittlungs-<br />angebot von Arbeitgeber
                </p>
              </div>
              <div class="mt-6 flex justify-end">
                <img src="/undraw_job_offers_kw5d.svg" alt="" />
              </div>
            </div>

            <div>
              <div class="flex items-end">
                <div
                  class="font-normal text-font7 text-gray-500 font-lato pl-12"
                >
                  3.
                </div>
                <p
                  class="
                    text-primary1 text-left
                    mt-5
                    ml-5
                    mb-5
                    font-lato font-normal
                    text-font6
                  "
                >
                  Vermittlung nach<br />
                  Provision oder<br />
                  Stundenlohn
                </p>
              </div>
              <div class="mt-6 flex justify-center">
                <img src="/undraw_business_deal_cpi9.svg" alt="" />
              </div>
            </div>
          </template>
        </div>
      </main>

      <footer>
        <footer
          class="
            bg-white
            rounded-tl-3xl rounded-tr-3xl
            w-full
            text-center
            py-8
            drop-shadow-lg
            border-t-2
          "
        >
          <button
            class="
              bg-gradient-to-r
              from-brand-green
              to-brand-blue
              text-brand-lightestGreen
              py-2
              px-20
              rounded-xl
              font-lato
              text-font3
              font-semibold
              w-7
              tracking-normal
            "
          >
            Kostenlos Registrieren
          </button>
        </footer>
      </footer>
    </div>
  </body>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      activeTab: 1,
    };
  },
});
</script>

<style></style>
